//reset
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
}
img{
	max-width: 100%;
	height: auto;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style:none
}
th{
    font-weight: 400;
}
//影片RWD
.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}   
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
//文字與圖片反選顏色
::selection {
    background: $darkSecondary;
    color: #fff;
}
::-moz-selection {
    background: $darkSecondary;
    color: #fff;
}
img::selection {
    background: $darkSecondary;
}
img::-moz-selection {
    background: $darkSecondary;
}

//BS5覆寫
.card{
    border: 1px solid #F5F5F5;
    border-radius: 16px;
}
.card-transparent{
    border: 1px solid $lightSecondary;
    border-radius: 16px;
}
.btn{
    transition: all 0.3s;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}
.btn-secondary{
    color: white;
    &:hover{
        color: white;
    }
    &:focus{
        color: white;
    }
}
.btn-outline-darkSecondary{
    &:hover{
        color: $gray-800;
    }
}
.breadcrumb{
    font-size: 14px;
}
.bootstrap-select{ 
    .dropdown-toggle{
    &:hover{
        box-shadow: none;
    }
    &:focus{
        outline-offset: 0px;
        border-color: #fbe58e;
        outline: 0 !important;
        -webkit-box-shadow: 0 0 0 0.25rem rgba(246,202,28,.25);
        box-shadow: 0 0 0 0.25rem rgba(246,202,28,.25);
     }
    }
    // .btn-light:focus{
    //     border-color: #fbe58e;
    //     outline: 0;
    //     -webkit-box-shadow: 0 0 0 0.25rem rgba(246,202,28,.25);
    //     box-shadow: 0 0 0 0.25rem rgba(246,202,28,.25);
    // }
    .dropdown-item{
        &:hover, &:focus{
        background: rgba(246,202,28,.25);
        color: $gray-900;
        }
        &.active{
            color: $gray-900;
        }
    }
}
.nav-pills{
    .nav-link{
        color: $darkSecondary;
        &.active{
            background: $lightSecondary;
        }
    }

}
.input-group-text{
    background: #fff;
}


//icon
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.symbols-fill{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.iconPrimary{
    line-height: 1;
    padding: 5px;   
}
.iconLightSecondary{
    font-size: 24px;
    line-height: 1;
    padding: 10px;
    padding-bottom: 8px;
    background: $lightSecondary;
    color: $secondary;
    border: none;
    &:hover{
        color: $secondary;
        background: $lightSecondary;
        font-variation-settings:
        'FILL' 1
        
    }
}
.star{
    transition: all 0.1s;
    &:hover{
        color: $secondary; 
        .starIcon{
            color: $secondary !important;
        }
    }
}
.starIcon{
    transition: all 0.1s;
    margin-right: 7px;
}
.visibilityIcon{
    &:hover{
        cursor: pointer;
    }
}

//hashtag
.tag{
    color: $secondary;
    font-size: 12px;
    background: white;
    border: 0.5px solid $primary;
    border-radius: 0;
    padding: 4px 12px;
    margin-right: 8px;
    &:hover{
        box-shadow: none;
    }
}

//卡片
.cardImg{
    position: relative;
    a{
        display: block;
        overflow: hidden;
    }
    .dramaImg{
        display: block;
        width: 100%;
        height: 256px;
        -o-object-fit: cover;
        object-fit: cover;
        &:hover{
            -webkit-transform: scale(1.15);
            transform: scale(1.15);
        }
    }

}
.cardImg-small{
    position: relative;
    a{
        display: block;
        overflow: hidden;
    }
    .dramaImg{
        display: block;
        width: 100%;
        height: 150px;
        -o-object-fit: cover;
        object-fit: cover;
        &:hover{
            -webkit-transform: scale(1.15);
            transform: scale(1.15);
        }
        // @include pad(){
        //     height: 300px;
        // }
    }
    .cardRank{
        position: absolute;
        // width: 27px;
        height: 72px;
        width: auto;
        left: -10px;
        top: -16px;
    }
}

//swiper
.swiper-pagination-fraction{
    width: auto;
}
//sweetalert2
.swal2-modal{
    // button.swal2-styled{
    //     padding: 10px 20px;
    //     //background-color: $primary;
    // }
    .swal2-icon{
        // width: 4.5em;
        // height: 4.5em;
        margin: 1.75em auto 0.7em;
        .swal2-icon-content{
            //font-size: 2.75em;
        }
    }
    .swal2-html-container{
        font-weight: 400;
        font-size: 1.25em;
        margin: 0;
    }
}

//loader
.preloader {/*   這是整個會蓋住畫面的底色色塊  */
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9999;
    display: none;
  }
.status {/*   這是中間loading的css,我們盡量讓他畫面置中  */
    position: fixed;
    /* width: 218px;
    height: 419px;
    margin-left: -140px;
    margin-top: -160px; */
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
  
  .loader {
      width: 60px;
      height: 60px;
      border: 5px solid #FFF;
      border-bottom-color: $primary;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      }
  
      @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
} 


